body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
}

h1,
h2,
h3 {
    margin-bottom: 5px;
    color: #333;
}

.contact,
.education,
.experience,
.skills {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    color: #888;
}

/* Add some styling to the links */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
